body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    background: linear-gradient(to bottom, #4caf50, #45a049);
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchInput {
    padding: 10px;
    width: 60%;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    color: #4caf50;
    border: none;
    border-radius: 5px;
}

.weather-container {
    margin-top: 20px;
}

#weatherIcon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.weather-info {
    font-size: 18px;
}
